.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 20px sans-serif;
}

.link {
  fill: none;
  stroke: #333;
  stroke-width: 4px;
}

.featvis {
  pointer-events: none;
}

.base_div_left {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: -1;
}

.base_div_left img {
  float: left;
  margin-right: 10px;
  width: 150px;
  height: 150px;
}

.base_div_left div {
  float: right;
  font: 13px sans-serif;
}

.base_div_right {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: -1;
}

.base_div_right div {
  float: left;
  font: 13px sans-serif;
  margin-left: 10px;
  width: 350px;
  height: 120px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button rect {
  fill: white;
  stroke: black;
  stroke-width: 1pt;
}

.button text {
  font-size: 75%;
}
