<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Vis {{root_path_id}} {{img_id}}</title>
<link rel="stylesheet" href="/static/vis_style.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script>

var nodeHeight = 200,
    nodeWidth = 200,
    nodeMargin = {width: 30, height: 30},
    margin = {top: nodeHeight/2 + 90, right: nodeWidth/2 + 200, bottom: 20, left: nodeWidth/2 + 200},
    width = screen.width - margin.right - margin.left,
    height = screen.height - margin.top - margin.bottom,
    node_counter = 0,
    duration = 750;

var root = {
      x0: height / 2,
      y0: 0,
      path_id: "{{root_path_id}}",
      path: [["{{root_blob_name}}", {{root_act_id}}]],
      blob_name: "{{root_blob_name}}",
      act_id: {{root_act_id}}
    };

var tree = d3.layout.tree()
    //.size([height, width])
    .nodeSize([nodeWidth + nodeMargin.width, nodeHeight + nodeMargin.height]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.x, d.y]; });

var img_id = "{{img_id}}",
    base_url = "/vis/" + img_id,
    img_url = "/vis/{{img_id}}/img.jpg",
    img_div = d3.select("body").append("div")
        .attr("class", "base_div_left"),
    img = img_div.append("img")
        .attr("src", img_url),
    label_p = img_div.append("div");

var interface_div = d3.select("body").append("div")
        .attr("class", "base_div_right")
        .append("div")
        .html("\
<h3>Interface</h3> \
The two buttons at the top of each node either <b>remove the \
node</b> (right) or <b>toggle the feature visualization</b>. \
Pressing the 'h' key <b>toggles the image</b> and labels at the \
bottom left and pressing 'b' <b>shows and hides the buttons</b>");


    

d3.select("body")
    .on("keydown", function() {
        // h
        if (d3.event.keyCode == 72) {
            var opacity = img_div.style("opacity");
            console.log(opacity);
            img_div.style("opacity", function() {
                if (opacity > 0) {
                    return 0.0;
                } else {
                    return 1.0;
                }
            });
        }
        else if (d3.event.keyCode == 66) {
            var button = d3.selectAll(".button");
            var opacity = button.attr("opacity");
            if (opacity == 0) {
                button.attr("opacity", 1);
            }
            else {
                button.attr("opacity", 0);
            }
        }
    });

var svg_root = d3.select("body").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
    .style("overflow", "visible")
    .attr("id", "svg_root");
var svg = svg_root.append("g")
    .attr("transform", "translate(" + (margin.left + width/2) + "," + margin.top + ")")
    .attr("id", "svg");

// update the root when ready
$(function() {
  update(root);
});

d3.json(base_url + "/labels.json", function(error, data) {
    label_p.html(data.labels);
});

d3.select(self.frameElement).style("height", "800px");

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
      links = tree.links(nodes);

  // Normalize for fixed-depth.
  //nodes.forEach(function(d) { d.y = d.depth * 180; });

  // Update the nodes…
  var node = svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++node_counter); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.x0 + "," + source.y0 + ")"; });

  nodeEnter.append("circle")
      .attr("r", 1e-6)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  // image specific vis
  nodeEnter.append("svg:image")
      //.attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      //.attr("dy", ".35em")
      .attr("x", -nodeWidth / 2)
      .attr("y", -nodeHeight / 2)
      .attr("width", nodeWidth)
      .attr("height", nodeHeight)
      .attr("xlink:href", function(d) {
          return base_url + "/tree/reconstruction?path_id=" + d.path_id;
      })
      .on("mouseenter", function(d) {
        d3.select("#feat_" + d.blob_name + "_" + d.act_id)
          .style("opacity", 1);
        var svg_node = this.parentElement;
        svg_node.parentElement.appendChild(svg_node);
      })
      .on("mouseleave", function(d) {
        d3.select("#feat_" + d.blob_name + "_" + d.act_id)
          .style("opacity", function(d) {
            var opacity = d3.select(this).style("opacity");
            if (!d.idx) {
              return 0;
            } else {
              return opacity;
            }
          });
      })
      .on("click", click);

  var reconHeader = nodeEnter.append("g")
      .attr("transform", function(d) { return "translate(" + (-nodeWidth / 2) + "," + (-nodeHeight / 2 - 10) + ")"; });

  // toggle opacity/position of feature vis 
  var featToggle = reconHeader.append("g")
      .attr("transform", "translate(100, -20)")
      .attr("class", "button")
      .on("click", function(d) {
          var id = "feat_" + d.blob_name + "_" + d.act_id;
          d3.select("#" + id)
            .each(function(d) {
              if (!d.idx) {
                d.idx = 1;
              } else {
                d.idx = (d.idx + 1) % 7;
              }
            })
            .attr("x", function(d) {
              if (!d.idx) {
                return -1 * nodeWidth;
              } else if (d.idx == 1) {
                return -2 * nodeWidth;
              } else if (d.idx == 2) {
                return -1.5 * nodeWidth;
              } else if (d.idx == 3) {
                return -1 * nodeWidth;
              } else if (d.idx == 4) {
                return -0.5 * nodeWidth;
              } else if (d.idx == 5) {
                return 0 * nodeWidth;
              } else if (d.idx == 6) {
                return 10 + 0.5 * nodeWidth;
              }
            })
            .attr("y", function(d) {
              if (!d.idx) {
                return 10.0;
              } else if (d.idx == 1) {
                return 10.0;
              } else if (d.idx == 2) {
                return 10.0;
              } else if (d.idx == 3) {
                return 10.0;
              } else if (d.idx == 4) {
                return 10.0;
              } else if (d.idx == 5) {
                return 10.0;
              } else if (d.idx == 6) {
                return -nodeHeight;
              }
            })
            .style("opacity", function(d) {
              if (!d.idx) {
                return 0.0;
              } else {
                return 1.0;
              }
            });
      });
  featToggle.append("rect")
      .attr("height", 30)
      .attr("width", 50);
  featToggle.append("text")
      .html('<tspan x="0.2em" dy=0.9em>Toggle</tspan> <tspan x="0.2em" dy=1.4em>Feat</tspan>')
      .attr("class", "noselect");

  // toggle opacity/position of feature vis 
  var removeNode = reconHeader.append("g")
      .attr("transform", "translate(150, -20)")
      .attr("class", "button")
      .on("click", function(d) {
        var idx = d.parent.children.indexOf(d);
        d.parent.children.splice(idx, 1);
        update(d.parent);
      });
  removeNode.append("rect")
      .attr("height", 30)
      .attr("width", 50);
  removeNode.append("text")
      .html('<tspan x="0.2em" dy=0.9em>Remove</tspan>')
      .attr("class", "noselect");

  reconHeader.append("text")
      .attr("height", 10)
      .attr("width", nodeWidth)
      .attr("x", 0)
      .attr("y", 0)
      .attr("class", "noselect")
      .text(function(d) {
          return d.blob_name + "_" + d.act_id;
      });

  // feature vis (initially not visible, not image specific)
  nodeEnter.append("svg:image")
      //.attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      //.attr("dy", ".35em")
      .attr("x", -1 * nodeWidth)
      .attr("y", 10 + -0/3 * nodeHeight)
      .attr("width", 2 * nodeWidth)
      .attr("height", 2 * nodeHeight)
      .attr("xlink:href", function(d) {
          return "/imgs/feat/" + d.blob_name + "_feat" + d.act_id + ".jpg";
      })
      .style("opacity", 0)
      .attr("id", function(d) { return "feat_" + d.blob_name + "_" + d.act_id; })
      .attr("class", "featvis");

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  nodeUpdate.select("circle")
      .attr("r", 4.5)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.x + "," + source.y + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
      .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      });

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });

  var bbox = $("#svg")[0].getBBox(),
      new_width = bbox.width + margin.right + margin.left,
      new_height = bbox.height + margin.top + margin.bottom;
  if ($("#svg_root").width() < new_width || $("#svg_root").height() < new_height) {
      svg_root.attr("width", bbox.width + margin.right + margin.left)
          .attr("height", bbox.height + margin.top + margin.bottom);
      svg.attr("transform", "translate(" + (margin.left + bbox.width/2) + "," + margin.top + ")");
  }
}

// Toggle children on click.
function click(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
    update(d);
  } else if (d._children) {
    d.children = d._children;
    d._children = null;
    update(d);
  } else {
    d3.json(base_url + "/tree/children?path_id=" + d.path_id, function(error, obj) {
        if (error) throw error;
        d.children = obj.children;
        update(d);
      });
  }
}

</script>
</body>
</html>
