<!DOCTYPE html>
<meta charset="utf-8">
<title>Tree Example</title>
<style>

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 20px sans-serif;
}

.link {
  fill: none;
  stroke: #333;
  stroke-width: 4px;
}

.featvis {
  pointer-events: none;
}

.base_div {
  position: fixed;
  bottom: 10px;
  left: 10px;
  pointer-events: none;
  z-index: -1;
}

.base_div img {
  float: left;
  margin-right: 10px;
  width: 150px;
  height: 150px;
}

.base_div div {
  float: right;
  font: 13px sans-serif;
}

</style>
<body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script>

var i = 0,
    duration = 750,
    root,
    nodeHeight = 200,
    nodeWidth = 200,
    nodeMargin = {width: 30, height: 30};

var margin = {top: nodeHeight/2 + 90, right: nodeWidth/2 + 200, bottom: 20, left: nodeWidth/2 + 200},
    width = screen.width - margin.right - margin.left,
    height = screen.height - margin.top - margin.bottom;

var tree = d3.layout.tree()
    //.size([height, width])
    .nodeSize([nodeWidth + nodeMargin.width, nodeHeight + nodeMargin.height]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.x, d.y]; });

var img_id = "{{img_id}}",
    base_url = "/vis/" + img_id,
    img_url = "/vis/{{img_id}}/img.jpg",
    img_div = d3.select("body").append("div")
        .attr("class", "base_div"),
    img = img_div.append("img")
        .attr("src", img_url),
    label_p = img_div.append("div");

var svg_root = d3.select("body").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
    .style("overflow", "visible")
    .attr("id", "svg_root");
var svg = svg_root.append("g")
    .attr("transform", "translate(" + (margin.left + width/2) + "," + margin.top + ")")
    .attr("id", "svg");

d3.json(base_url + "/tree/get?blob_name={{blob_name}}&act_id={{act_id}}", function(error, flare) {
  if (error) throw error;

  root = flare;
  root.x0 = height / 2;
  root.y0 = 0;

  function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }

  root.children.forEach(collapse);
  update(root);
});

d3.json(base_url + "/labels.json", function(error, data) {
    label_p.html(data.labels);
});

d3.select(self.frameElement).style("height", "800px");

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
      links = tree.links(nodes);

  // Normalize for fixed-depth.
  //nodes.forEach(function(d) { d.y = d.depth * 180; });

  // Update the nodes…
  var node = svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.x0 + "," + source.y0 + ")"; });

  nodeEnter.append("circle")
      .attr("r", 1e-6)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  // image specific vis
  nodeEnter.append("svg:image")
      //.attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      //.attr("dy", ".35em")
      .attr("x", -nodeWidth / 2)
      .attr("y", -nodeHeight / 2)
      .attr("width", nodeWidth)
      .attr("height", nodeHeight)
      .attr("xlink:href", function(d) {
          var url = base_url + "/tree/reconstruction?";
          for (var i = 0; i < d.path.length; i++) {
            url += "path=" + d.path[i] + "&";
            url += "path_id=" + d.path_ids[i] + "&";
          }
          return url + "blob_name=" + d.blob_name + "&act_id=" + d.act_id;
      })
      .on("mouseenter", function(d) {
        d3.select("#feat_" + d.blob_name + "_" + d.act_id)
          .style("opacity", 1);
        var svg_node = this.parentElement;
        svg_node.parentElement.appendChild(svg_node);
      })
      .on("mouseleave", function(d) {
        d3.select("#feat_" + d.blob_name + "_" + d.act_id)
          .style("opacity", 0);
      })
      .on("click", click)

  nodeEnter.append("text")
      .attr("x", -nodeWidth / 2)
      .attr("y", -nodeHeight / 2 - 10)
      .attr("width", nodeWidth)
      .attr("height", 10)
      .text(function(d) {
          return d.blob_name + "_" + d.act_id;
      });

  // feature vis (initially not visible, not image specific)
  nodeEnter.append("svg:image")
      //.attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      //.attr("dy", ".35em")
      .attr("x", -3/2 * nodeWidth)
      .attr("y", -1/3 * nodeHeight)
      .attr("width", 3 * nodeWidth)
      .attr("height", 3 * nodeHeight)
      .attr("xlink:href", function(d) {
          return "/imgs/feat/" + d.blob_name + "_feat" + d.act_id + ".jpg";
      })
      .style("opacity", 0)
      .attr("id", function(d) { return "feat_" + d.blob_name + "_" + d.act_id; })
      .attr("class", "featvis");

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  nodeUpdate.select("circle")
      .attr("r", 4.5)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.x + "," + source.y + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
      .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      });

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });

  var bbox = $("#svg")[0].getBBox(),
      new_width = bbox.width + margin.right + margin.left,
      new_height = bbox.height + margin.top + margin.bottom;
  if ($("#svg_root").width() < new_width || $("#svg_root").height() < new_height) {
      svg_root.attr("width", bbox.width + margin.right + margin.left)
          .attr("height", bbox.height + margin.top + margin.bottom);
      svg.attr("transform", "translate(" + (margin.left + bbox.width/2) + "," + margin.top + ")");
  }
}

// Toggle children on click.
function click(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else if (d._children) {
    d.children = d._children;
    d._children = null;
  } else {
    d3.json(base_url + "/tree/expand?blob_name=" + d.blob_name + "&act_id=" + d.act_id, function(error, obj) {
      if (error) throw error;
      d.children = obj.children;
      update(d);
    });
  }
  update(d);
}

</script>
</body>
</html>
